{{page_name}}form{{/page_name}}
{{script}}
        <script id="table-header-template" type="text/template">
            <th columnName="<%= name %>" class="<%= name %>"><span class="pull-right"></span><%= label %></th>
        </script>
        <script id="show-hide-column-template" type="text/template">
            <li><label class="checkbox"><input type="checkbox" class="show-hide-check-box" name="<%= name %>" id="shcb_<%= name %>" checked="checked" /><%= label %></label></li>
        </script>
        <script id="table-row-template" type="text/template">
            <tr>
                <% _.each(form.get('fields'), function(fld){ 
                    if(fld.type === 'location' || fld.type === 'gps')
                    {
                %>
                    <td class="<%= fld.name %>"><%= record.get(fld.name).latitude %>, <%= record.get(fld.name).longitude %></td>
                <% } else if(fld.type === 'photo') { %>    
                     <td class="<%= fld.name %>"><a href="<%= record.get(fld.name) %>" target="__blank"><img src="<%= record.get(fld.name) %>" /></a></td>
                <% } else { %> 
                    <td class="<%= fld.name %>"><%= record.get(fld.name) %></td>
                <% }
                })%>
            </tr>
        </script>
{{/script}}

{{breadcrumbs}}
&gt; <a href="../{#projectName#}">Project : {#projectName#}</a> {#prevForm#} &gt; Form : {#formName#}
{{/breadcrumbs}}
{{main}}
	<div id="tooltip" style="display:none;"></div>
	<h1>{#projectName#} - {#formName#}</h1>
	{#flashes#}
	<div id="tabs" class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tableTab" data-toggle="tab">Table View</a></li>
                <li><a href="#mapTab" data-toggle="tab">Map</a></li>
            </ul>
            <div class="tab-content">
                <div id="tableTab" class="tab-pane active">
                    <div class="row">
                        <form class="form-inline span12" >
                            {#curationbuttons#}
                            
                                <label>Filter List By </label> <select id="filter_fields" class="fieldList span2"></select> 
                                <div id="filterControls" class="input-append">
                                    <input id="filter_value" type="text" class="span2" /> 
                                    <button class="btn" type="button">Search</button>
                                    <button class="btn" type="button">Clear</button>
                                </div><!--  <img src="{#SITE_ROOT#}/images/glyphicons/glyphicons_027_search.png" title="Clear Filter" alt="Clear Filter">-->
                         
                           
                            <!--<div id ="showHideFields" class="ecplus-dropdown"></div> -->
                          
                             <div class="btn-group">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                  Show/hide fields
                                  <span class="caret"></span>
                                </a>
                                <ul id="show-hide-fields" class="dropdown-menu">
                                    <li><label class="checkbox"><input type="checkbox" />Field Name</label></li>
                                </ul>
                              </div>
                             <div class="btn-group">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                  Download Data
                                  <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="./{#formName#}.csv" title="Download data as CSV">as Comma Separated Value</a></li>
                                    <li><a href="./{#formName#}.tsv" title="Download data as TSV">as Tab Separated Value</a></li>
                                    <li><a href="./{#formName#}.xml?mode=list" title="Download data as XML" target="__blank">as XML</a></li>
                                </ul>
                              </div>
                          
                           </form>
                    </div>
                    <table id="data-table" class="table-hover">
                    </table>
                    <div class="ecplus-table-footer">
                            <span class="left">
                                <span id="forwardButtons" class="btn-group">
                                    <a class="btn" href="javascript:firstPage();" title="Go to first page">
                                        <span class="icon-fast-backward"></span>
                                    </a> 
                                    <a class="btn" href="javascript:turnBackPage();" title="Go to previous page">
                                        <span class="icon-step-backward"></span>
                                    </a>
                                </span>
                                    <span id="start"></span> to <span id="end"></span> of <span id="total"></span>
                                    <span id="backwardButtons" class="btn-group">
                                        <a class="btn" href="javascript:getData();"  title="Refresh entries">
                                            <span class="icon-refresh"></span>
                                        </a>

                                        <a class="btn" href="javascript:turnPage();"  title="Go to next page">
                                            <span class="icon-step-forward"></span>
                                        </a>
                                        <a class="btn" href="javascript:lastPage();"   title="Go to final page">
                                            <span class="icon-fast-forward"></span>
                                        </a>
                                </span>
                            </span>
                            <span class="right">
                                    Show <input type="number" maxlength="3" id="num_entries" /> entries per page <a class="btn" href="javascript:saveNumEntires();">Save as my default</a> 
                            </span>
                    </div>
                    {#csvform#}
            </div>
            <div id="mapTab" class="tab-pane">
                    <div id="progressbar"><div class="progress-label">Getting Total no of Entries...</div></div>
                    <div id="map-container">
                            <div id="graphOne" class="graphPanel minimised"></div>
                            <div id="sidebar">

                            </div>
                            <div id="map"></div>
                            <!--  <div id="graphbar"> -->

                                    <!-- <div id="graphTwo" class="graphPanel"></div>
                                    <div id="graphThree" class="graphPanel"></div>-->
                            <!--</div>-->

                    </div>
                    <div id="bottombar">
                            <div id="timeFilter" class ="filterControl">
                                    <h4>Filter By Time</h4>
                                    <div id="slider-range" ></div>
                                    <p><b>From :</b><span id="timeFrom"></span></p>
                                    <p><b>To :</b><span id="timeTo"></span></p>
                                    <a  class="clearFilter" href="javascript:clearMapFilter();">Clear Filter</a>
                            </div>
                            <div id="fieldFilter" class ="filterControl">
                                    <h4>Filter By Field</h4>
                                    <p><b>Field </b><select id="mapFilterField" class="fieldList"></select></p>
                                    <p><b>Value </b><input id="mapFilterValue"></input></p>
                                    <p><a href="javascript:doMapFieldFilter()">Apply Filter</a></p>
                                    <a class="clearFilter" href="javascript:clearMapFilter();">Clear Filter</a>
                            </div>
                            <div id="fieldColour" class ="colourControl">
                                    <h4>Colour By Field</h4>
                                    <p><b>Field </b><select id="mapColourField" class="colourFieldList"></select></p>
                                    <p><a href="javascript:colourMarkersBy($('#mapColourField').val())">Apply Colouring</a></p>
                            </div>
                    </div>
            </div>		
        </div>
   </div>

{{/main}}